{% extends 'base.html' %}

{% block bodymid %}


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <article class="card mb-4" style="background-color: lightgray;">
                                          <header class="card-header">
                                                <div class="card-meta">
                                                      <a href="#"><time class="timeago" datetime="{{question.questiondate}}">8 may 2019</time></a> in <a
                                                            href="page-category.html">Journey</a>
                                                </div>
                                                <a href="{% url 'slug' questions.0.slug %}">
                                                      <h4 class="card-title">{{questions.0.title}}</h4>
                                                </a>
                                          </header>


                                          {% if question.file %}
                                          <a href="post-image.html">
                                                <img class="card-img" src="{{question.file.url}}" alt="image" />
                                          </a>
                                          {% endif %}
                                          <div class="card-body p-1">
                                                <pre class="card-text">{{questions.0.discription}} </pre>
                                          </div>

                                          <div class="card-body d-flex justify-content-start">
                                                {% for tag in questions.0.tags.all %}
                                                <a href="{% url 'tagged' tag.slug %}">
                                                      <p class="badge badge-primary mr-2">{{tag.slug}} </p>
                                                </a>
                                                {% endfor %}
                                          </div>
                                          <div class=" d-flex justify-content-left ">
                                                <a class="btn btn-primary w-25" href="/answerlist/?id={{questions.0.id}}" id="replybutton" role="button">Total
                                                      Answers
                                                      :{{questions.0.answers}}</a>
                                          </div>

                                          <div class="media" style="padding:0px">
                                                {% if questions.0.askedby.profilepic.url %}
                                                <img style="width:3em;margin-left:10px ;" src="{{questions.0.askedby.profilepic.url}}"
                                                      class="align-self-start mr-3 rounded-circle w-10" alt="...">
                                                {% endif %}
                                                <div class="media-body m-0">
                                                      <h5 class="mt-0">{{questions.0.askedby}}</h5>
                                                      <p style="margin-bottom: 0px;">{{question.questiondate}}</p>
                                                </div>
                                          </div>
                                          <div class=" d-flex justify-content-center ">
                                                <a class="btn btn-primary w-50" href="/answer/?id={{questions.0.id}}" id="replybutton" role="button">Reply</a>
                                          </div>


                                    </article>
        </div>

        {% for question in questions %}

        <div class="carousel-item">
       
       

                                    <article class="card mb-4" style="background-color: lightgray;">
                                          <header class="card-header">
                                                <div class="card-meta">
                                                      <a href="#"><time class="timeago" datetime="{{question.questiondate}}">8 may 2019</time></a> in <a
                                                            href="page-category.html">Journey</a>
                                                </div>
                                                <a href="{% url 'slug' question.slug %}">
                                                      <h4 class="card-title">{{question.title}}</h4>
                                                </a>
                                          </header>


                                          {% if question.file %}
                                          <a href="post-image.html">
                                                <img class="card-img" src="{{question.file.url}}" alt="image" />
                                          </a>
                                          {% endif %}
                                          <div class="card-body p-1">
                                                <pre class="card-text">{{question.discription}} </pre>
                                          </div>

                                          <div class="card-body d-flex justify-content-start">
                                                {% for tag in question.tags.all %}
                                                <a href="{% url 'tagged' tag.slug %}">
                                                      <p class="badge badge-primary mr-2">{{tag.slug}} </p>
                                                </a>
                                                {% endfor %}
                                          </div>
                                          <div class=" d-flex justify-content-left ">
                                                <a class="btn btn-primary w-25" href="/answerlist/?id={{question.id}}" id="replybutton" role="button">Total
                                                      Answers
                                                      :{{question.answers}}</a>
                                          </div>

                                          <div class="media" style="padding:0px">
                                                {% if question.askedby.profilepic.url %}
                                                <img style="width:3em;margin-left:10px ;" src="{{question.askedby.profilepic.url}}"
                                                      class="align-self-start mr-3 rounded-circle w-10" alt="...">
                                                {% endif %}
                                                <div class="media-body m-0">
                                                      <h5 class="mt-0">{{question.askedby}}</h5>
                                                      <p style="margin-bottom: 0px;">{{question.questiondate}}</p>
                                                </div>
                                          </div>
                                          <div class=" d-flex justify-content-center ">
                                                <a class="btn btn-primary w-50" href="/answer/?id={{question.id}}" id="replybutton" role="button">Reply</a>
                                          </div>


                                    </article>
                              </div>
            


        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


{% for question in questions %}



{% endfor %}


{% endblock %}