{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block headstyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    
<style type="text/css">
    .bootstrap-tagsinput{
        width: 100%;
    }
    .label-info{
        background-color: #17a2b8;

    }
    .errorlist{color:orange;margin-bottom: 0px;display: inline;}
    
    .label {
        display: inline-block;
        padding: .25em .4em;
        font-size: 100%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,
        border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
{% endblock %}

{% block bodymid %}

{% if questionform %}
<div class="alert alert-secondary mt-20" >
    <h4>Ask Something ....</h4>
  </div>

<form method="POST" target="/question" enctype="multipart/form-data"
novalidate class="mt-20 container border border-primary card-body" style="margin-top: 20px;border-right: 10px;">
{% csrf_token %}

  {{questionform.as_p}}

      <input type="submit"  value="submit" class="w-90" style="margin-bottom: 30px;">

 
</form> 
{% endif %}
{% endblock %}